
html, input, button {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    padding: 0 40px 0 20px;
    max-width: 1400px ;
    min-height: 100vh;
    background-color: aquamarine;
}

h3{
    color: blue !important;
    font-size: 18px !important;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;

    text-align: right;
    padding-left: 40px;
}

h4{
    font-size: 15px !important;
    font-weight: bold;
    text-align: center;
}

marquee {
    display: none;
    color:rgb(167, 166, 147);
}

.marquee {
    height: 100px; 
    overflow: hidden"
}

.marquee.dark-mode {
    color:rgb(173, 173, 216);
}

p.presentacion {
    padding-left: 47px;
    width: 75%;
}

/* --- --- DARK MODE --- --- */

body.dark-mode {
    background-color: #19003b;
    color: rgb(255, 234, 234);
}
.dark-mode .form-group {
    background-color: #4b4455;
}
.dark-mode .btn-group .btn:hover {
    background-color: rgb(150, 20, 20);
    color: yellow;
}
.dark-mode a {
    color: #ffffff;
}
.dark-mode a:hover {
    color: rgb(185, 66, 29); 
}

article.dark-mode {
    color: white;
}

/* --- --- CAJAS PRESUPUESTO  --- ---  */


#caja-calc {
    display: none;
    padding-top: 25px;
    
}

.form-group {
    width: 70%;

    display: block;
    gap: 2rem;
    flex-wrap: wrap;
    border: solid 3px;
    border-radius: 0.5rem;
    background-color: #dfccfa;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}

.form-control[type="number"] {
    width: 100px; 
}

/* Campos */

.lista {
    width: 60%;
}

.lista .form {
    display: block;
    align-items: center;
    margin-bottom: 50px;
}

.lista .form .form-submit {
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s, color 0.1s;
    background-color: rgb(171, 171, 255)
}

.lista .form .form-submit:hover {
    background-color: #1b0737;
    color: white;
}

/* --- --- PRESUPUESTO --- --- */

#presupuesto:hover{
    transform: scale(1.2);
    transition: transform 0.9s;
}

#verResumen {
    display: none;
}

img {
    width: auto;
    height: 300px;
}

/* --- --- NAV --- --- */

.btn-group {

    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    width:60%;
}
.btn-group .btn {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color:  rgb(155, 155, 173)
}
.btn-group .btn:hover {
    background-color: black;
    color:azure;
}

i {
    font-size: 18pt;
}

/* --- --- CAJAS CONTACTO  --- ---  */

#caja-ctc {
    display: none;
    padding: 0 40px 0;
    
}

a {
    font-size: 30pt;
    color: #112e42;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: blue; 
}
.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 40vh;
    margin: auto; 
    background-color: #19003b;
    color: white;
    font-family: 'Arial', sans-serif;
    
}

#countdown {
    font-size: 4em;
    color: #61dafb;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#welcome {
    font-size: 2em;
    margin-top: 20px;
    display: none;
}

@media screen (width: 980px;){
    body {
        max-width: 100%;
    }
}

    









