body {
    margin: 0;
    padding: 0;
    background-color: pink;
    font-family: "Poppins", sans-serif;
    max-width: 85%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav .px-5 {
    width: 70%;
    flex-wrap: wrap;
}

.dark-mode h2 {
    color:rgb(80, 80, 80);
}

h3 {
    color: #3498db;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
    text-align: right;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: #2ecc71;
}

p.presentacion {
    font-size: 12pt;
    padding-left: 47px;
    width: 75%;
    color: #555;
}

.dark-mode p {
    color:rgb(80, 80, 80);
}

body.dark-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.dark-mode p.presentacion {
    color:white;
}

.form-group {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode .form-group .form-submit {
    background-color: #3498db;
    color: #fff;
}

.lista {
    width: 60%;
    margin: 20px auto;
}

.lista .form .form-submit {
    background-color: #3498db;
    color: #fff;
}

#presupuesto:hover {
    transform: scale(1.2);
    transition: transform 0.9s;
}

#verResumen {
    display: none;
}

.btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 60%;
}

.btn-group .btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}

.btn-group .btn:hover {
    background-color: #2980b9;
}

#caja-ctc {
    display: none;
    padding: 20px;
}

a {
    font-size: 2.8rem;
    color: #3498db;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    transform: scale(1.3);
    color: #2980b9;
}

#countdown {
    font-size: 4em;
    color: #61dafb;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
}

#contador {
    display: none;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 40vh;
    margin: auto;
    background-color: #3d26a3;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

@media screen and (min-width: 980px) {

    body {
        max-width: 100%;
    }

    .form-group {
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }
    nav .px-5 {
        width: 100%;
    }}
    
