
html, input, button {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    padding-left: 40px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: aquamarine;
}


body.dark-mode {
    background-color: #19003b;
    color: rgb(255, 234, 234);
}
.dark-mode .form-group {
    background-color: #4e02b8;
}
.dark-mode .btn-group .btn:hover {
    background-color: rgb(150, 20, 20);
    color: yellow;
}
.dark-mode a {
    color: #ffffff;
}
.dark-mode a:hover {
    color: orange; 
}


p.presentacion {
    width: 75%;
}

#caja-calc {
    display: none;
    padding-top: 25px;
}

.lista {
    width: 60%;
}

.form-control[type="number"] {
    width: 100px; 
}


#caja-ctc {
    display: none;
    padding: 0 40px 0;
}

h5{
    color: blue !important;
    font-size: 18px !important;
    font-style: italic;
    font-weight: lighter;
    text-decoration: underline;
    text-align: right;
    
    
}

h3{
    font-size: 30px !important;
    font-weight: bold;
    text-align: center;

}

h4{
    font-size: 15px !important;
    font-weight: bold;
    text-align: center;

}

.form-group {
    width: 60%;
    display: block;
    gap: 2rem;
    flex-wrap: wrap;
    border: solid 3px;
    border-radius: 0.5rem;
    background-color: #dfccfa;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}


.lista .form {
    display: block;
    align-items: center;
    margin-bottom: 50px;
}

.lista .form .form-submit {
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
    transition: background-color 0.1s, color 0.1s;
    background-color: rgb(171, 171, 255)
}
.lista .form .form-submit:hover {
    background-color: #1b0737;
    color: white;
}

.btn-group {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    width:60%;
}
.btn-group .btn {
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color:  rgb(171, 171, 255)
}
.btn-group .btn:hover {
    background-color: black;
    color:azure;
}

#presupuesto:hover{
    transform: scale(1.2);
    transition: transform 0.9s;
}

#verResumen {
    display: none;
}

a {
    font-size: 30pt;
    color: #112e42;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
    transform: scale(1.3);
    color: blue; 
}







